<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>SIVAKSIN</title>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Faskes')"></nav>
<div class="container-fluid header" style="background-color: #b21f2d; padding-top: 5%; padding-bottom: 5%">
    <h2 style="text-align: center; color: #ececf6">Detail Faskes</h2>
</div>
<br><br>
<div class="container-fluid isi">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h6 th:text="'Nama Fasilitas Kesehatan : ' + ${faskes.nama_faskes}"></h6>
                <h6 th:text="'Kuota : ' + ${faskes.kuota}"></h6>
                <h6 th:text="'Provinsi : ' + ${faskes.provinsi}"></h6>
                <h6 th:text="'Kabupaten : ' + ${faskes.kabupaten}"></h6>
                <h6 th:text="'Jam Mulai : ' + ${faskes.mulai}"></h6>
                <h6 th:text="'Jam Tutup : ' + ${faskes.tutup}"></h6>
                <h6 th:text="'Jenis Vaksin : ' + ${faskes.vaksin.jenis_vaksin}"></h6>
                <br>
                <a class="btn btn-primary" th:href="@{/faskes/}+${faskes.id_faskes}+@{/tambah/pasien}">
                    Tambah Pasien</a>
                <br><br>
                <h4>Daftar Pasien</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>NIK</th>
                        <th>Nomor Telepon</th>
                        <th>Jenis Kelamin</th>
                        <th>Tempat Lahir</th>
                        <th>Pekerjaan</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pasien, iterationStatus : ${listPasien}"
                        th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${pasien.nama_pasien}"></td>
                        <td th:text="${pasien.nik}"></td>
                        <td th:text="${pasien.nomor_telepon}"></td>
                        <td th:if="${pasien.jenis_kelamin} == 1">Laki-laki</td>
                        <td th:if="${pasien.jenis_kelamin} == 2">Perempuan</td>
                        <td th:text="${pasien.tempat_lahir}"></td>
                        <td th:text="${pasien.pekerjaan}"></td>
                        <td>
                            <a class="btn btn-primary" th:href="@{/pasien/} + ${pasien.id_pasien}">
                                Lihat</a>
                            <a class="btn btn-primary" th:href="@{/pasien/ubah/} + ${pasien.id_pasien}">
                                Ubah</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <a th:href="@{/faskes}" class="mx-2 btn btn-dark">Kembali</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>